.custom-background {
    background-color:#9D2449; 
    padding: 10px; 
    padding-bottom: 12px;
  }
.nav-item{
    display: flex;
    margin-top: 7px;
}
.nav-item :hover{
background-color: #ffffff8e;
border-radius: 10px;
color: rgba(232, 245, 161, 0.479);

}
.nav-link{
    color: white;
    font-family: 'arial';
}

.carousel-item img{
    margin-top: 30px;
    display: inline-block;;
    max-width: 55%;
}
.logo{
    width: 120px;
    margin-right: 70px;
}

#destacados{
    margin-top: 25px;
    margin-bottom: 25px;
    
}

#destacados .titulo{
    font-size: 1.3em;
    padding-left: 22.1%;
    font-family: arial;
}
.card-group{
    padding-left: 20.1%;
    width: 80%;
}

.card{
    padding: 10px 10px 10px 10px;
    margin: 10px 15px 15px 10px;
}


