.custom-background {
    background-color:#9D2449; 
    padding: 10px; 
    padding-bottom: 12px;
  }
.nav-item{
    display: flex;
    margin-top: 7px;
}

.nav-item :hover{
background-color: #ffffff8e;
border-radius: 10px;
color: rgba(232, 245, 161, 0.479);

}

.nav-link{
    color: white;
    font-family: 'arial';
}


.carousel-item img{
    margin-top: 30px;
    display: inline-block;;
    max-width: 65%;
}

.logo{
    width: 120px;
    margin-right: 70px;
}

.contenido{
    text-align: center;
    font-family: arial;
    font-size: 2.5em;
}

.card{
    align-items: center;
    margin-left: 50px;
}